@import './variables.scss';
@import './transition.scss';
@import './layout.scss';

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  box-sizing: border-box;
}

body{
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ol, ul{
  list-style: none;
}

/* element-ui 补充 */
.el-button.block{
  width: 100%;
}
.el-form .line{
  text-align: center;
}
// 公共样式
.page-card{
  padding: 16px;
  background-color: #fff;
}