// 颜色
$bg-gray: #f0f3f4;

// 头部 header
$navHeight: 50px;
$tagViewHeight: 36px;
$headerHeight: $navHeight + $tagViewHeight;
$logoHeight: $navHeight;

// 侧边栏 Sidebar
// $menuText: #bfcbd9;
$menuText: #b5b6bd;
$menuActiveText: #4f94d4;
$subMenuActiveText: #f4f4f5; // 子菜单有选中项时，菜单名字的字体颜色

$menuBg: #3a3f51;
$menuHover: darken($menuBg, 3);

$subMenuBg: darken($menuBg, 3);
$subMenuHover: darken($subMenuBg, 3);

$sideBarWidth: 210px;

// 主界面

// :export指令可以共享变量导出到js [webpack][sass-loader]
// 参考：https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
